

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: black;
    font-family: 'Roboto', sans-serif !important;
}

h1{
  color: white;
}

p{
    color: #f8fdff;
    padding-left: 20px;
    padding-top: 20px;
    opacity: .8;
    font-weight: 400;
    font-size: 15px;
}

.container{
  margin-left: 6%;
  margin-right: 6%;
}

.left{
  width: 95%;
}

.top-left{
    margin-top: 20px;
    background-color: white;
    border-radius:4px;
    height: 400px;
}

.bottom-left{
    margin-top: 20px;
    background-color: white;
    border-radius: 4px;
    height: 400px;
}

.right{
    margin-top: 20px;
    padding-top: 30px;
    background-color: white;
    border-radius: 4px;
    height: 790px;
    width: 95%;
}

.browser-legend{
    font-size:14px;
    opacity:.8;
}

.bottom-left-svg{
    padding-top:40px;
    text-align: center;
}


.bottom-right-svg{
    text-align: center;
}

.line {
    fill: none;
    stroke: pink;
    stroke-width: 5px;

}

.axis{
    fill:#bbc7d9;
    opacity: 1;
}

.axis path,
.axis line {
    fill: none;
    stroke: none;
    shape-rendering: crispEdges;

}

.axis text {
    font-size: 14px;
}

.y-grid .tick{
    stroke: #4b5f87;
    opacity: 1;
}

.default-svg{

}


.svg-container{
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: middle;
    overflow: hidden;
}

.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.fontSize {
    font-size:.8em;
    height: auto;
    text-align: center;
}
